<!doctype html>
<html lang="fr">
	<head>
		<object th:include="head :: head" th:remove="tag" />
		<title>Don't forget to sleep</title>
	</head>
	<body>
		<!-- Inserting navbar -->
		<div th:insert="nav"></div>
		
		<!-- Page content -->
		<div class="container-fluid">
			<!-- Page title -->
			<div class="row">
				<h1 class="text-center col-sm-12">Don't forget to sleep!</h1>
				<h2 class="text-center col-sm-12">Liste des tâches</h2>
			</div>
			<!-- Content -->
			<div class="spacer border-bottom"></div>
			<div class="row">
				<div class="box col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 ">
					<div class="box-part">
						<div class="card add-space-bottom" th:each="task : ${task_list}"> <!-- th:each="task : ${task_list}" -->
							<div class="card-body">
								<h4 class="card-title text-center" th:text="${task.name}">Titre</h4> <!-- th:text="${task.name}" -->
								<p class="card-text" th:text="${task.description}">Description</p> <!-- th:text="${task.description}" -->
								<span class="float-right">
									<a href="#" class="btn btn-danger">Supprimer</a>
									<a href="#" class="btn btn-success">Marquer comme terminée</a>
								</span>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</body>
</html>