<!doctype html>
<html lang="fr">
	<head>
		<object th:include="head :: head" th:remove="tag" />
		<title>Don't forget to sleep</title>
	</head>
	<body>
		<!-- Inserting navbar -->
		<div th:insert="nav"></div>
		
		<!-- Page content -->
		<div class="container-fluid">
			<!-- Page title -->
			<div class="row">
				<h1 class="text-center col-sm-12">Don't forget to sleep!</h1>
				<h2 class="text-center col-sm-12">Liste des tâches</h2>
			</div>
			
			<p class="text-center text-info">Bonjour <span th:text="${user_name}"></span> !</p>
			
			<div class="spacer border-bottom"></div>
			
			<!-- Filtre -->
			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4 form-inline">
					<div class="form-check">
						<input type="checkbox" name="finished_tasks" id="finished_tasks" class="form-check-input" 
								th:checked="${show_finished}" onclick="toggle_finished()">
						<label for="finished_tasks" class="form-check-label">Afficher les tâches terminées</label>
					</div>
				</div>
			</div>
			
			<!-- Pagination -->
			<nav aria-label="Pagination des tâches">
				<ul class="pagination justify-content-center">
					<li class="page-item">
						<a class="page-link" th:href="@{/(page=${current_page - 1})}" th:unless="${is_first_page}" aria-label="Précédent">
							<span aria-hidden="true"><i class="fas fa-angle-double-left"></i></span>
							<span class="sr-only">Précédent</span>
						</a>
					</li>
					<li class="page-item" th:each="p : ${pages}">
						<a class="page-link" th:href="@{/(page=${p-1})}" th:text="${p}"></a>
					</li>
					<li class="page-item">
						<a class="page-link" th:href="@{/(page=${current_page + 1})}" th:unless="${is_last_page}" aria-label="Suivant">
							<span aria-hidden="true"><i class="fas fa-angle-double-right"></i></span>
							<span class="sr-only">Suivant</span>
						</a>
					</li>
				</ul>
			</nav>
			
			<!-- Content -->
			<div class="row">
				<div class="box col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 ">
					<div class="box-part">
						
						<div class="card add-space-bottom" th:each="task : ${task_list}" th:if="${not task.done or show_finished}"> <!-- th:each="task : ${task_list}" -->
							<div class="card-body">
								<h4 class="card-title text-center" th:text="${task.name}">Titre</h4> <!-- th:text="${task.name}" -->
								<p class="card-text" th:text="${task.description}">Description</p> <!-- th:text="${task.description}" -->
								<span class="float-right">
									<a th:href="@{/task/delete/} + ${task.id}" class="btn btn-danger">Supprimer</a> <!-- th:href="${/task/delete/{id}(id${task.id})}" -->
									<a th:href="@{/task/edit/} + ${task.id} + @{/done}" class="btn btn-success">Marquer comme terminée</a>
								</span>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
		function toggle_finished()
		{
			window.location = "/?showFinished=" + (document.getElementById('finished_tasks').checked).toString();
		}
		</script>
	</body>
</html>